html {
    overflow: auto;
}

body {
    background: #F0F0F0;
    margin: 0;
    overflow: auto;
}

:root {
    --elements-margin: 150px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

