@keyframes slideOutX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideOutY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes slideOutRightXY {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(100%) translateY(-100%);
    }
}

@keyframes slideOutLeftXY {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-100%) translateY(-100%);
    }
}

@keyframes disappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.events-wrap:hover > .events,
.blog-wrap:hover > .blog,
.contacts-wrap:hover > .contacts {
    animation-name: slideOutX;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.php-wrap:hover > .php {
    animation-name: slideOutRightXY;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.net-wrap:hover > .\.net,
.java-wrap:hover > .java {
    animation-name: slideOutY;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.QA-wrap:hover > .QA,
.js-wrap:hover > .js {
    animation-name: disappearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bsa-wrap:hover > .bsa {
    animation-name: slideOutLeftXY;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
