main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin: 0 var(--elements-margin);
    overflow: hidden;
}

.container h1 {
    font-family: Arial;
    display: inline;
    font-size: 2vw;
}

.container > .left-block1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

.left-block1 > .left-block2 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.bsa-wrap {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

.bsa {
    grid-column: inherit;
    grid-row: inherit;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsa-wrap > .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsa-wrap button {
    font-size: 4vw;
    color: white;
    background: dodgerblue;
    border-radius: 5px;
    border: none;
}
.bsa .bsa-logo {
    height: 40%;
}

.QA-wrap {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.QA {
    background: #3BB34B;
    grid-column: inherit;
    grid-row: inherit;
}

.QA h1 {
    font-size: 8vw;
    color: white;
}

.left-block1 > .right-block2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    grid-column: 2;
    grid-row: 1;
}

.js-wrap {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

.js {
    background: #FDCE4B;
    grid-column: inherit;
    grid-row: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.js h1 {
    font-size: 6vw;
    margin: 0;
}

.java-wrap {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.java {
    background: #F9403A;
    grid-column: inherit;
    grid-row: inherit;
}

.java h1 {
    font-size: 4vw;
    color: white;
}

.container > .right-block1 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
}

.right-block1 > .php-wrap {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

.php {
    grid-column: 1;
    grid-row: 1;
    background: mediumpurple;
}

.php h1 {
    font-size: 6vw;
}


.right-block1 > .lower-block2 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

.lower-block2 > .net-wrap {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

.\.net {
    grid-column: 1;
    grid-row: 1;
    background: purple;
}

.\.net h1 {
    font-size: 6vw;
    color: white;
}

.lower-block2 > .right-block3 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 20%;
}

.right-block3 > .events-wrap {
    grid-column: 1;
    grid-row: 1;
    display: grid;
}

.events {
    grid-column: 1;
    grid-row: 1;
    background: deepskyblue;
    color: white;
}

.right-block3 > .blog-wrap {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.blog {
    grid-column: 1;
    grid-row: 2;
    background: blue;
    color: white;
}

.right-block3 > .contacts-wrap {
    grid-column: 1;
    grid-row: 3;
    display: grid;
}

.contacts {
    grid-column: 1;
    grid-row: 3;
    background: darkblue;
    color: white;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    grid-column: inherit;
    grid-row: inherit;
    z-index: -1;
    font-family: "Times New Roman", serif;
    font-size: 1vw;
    margin: 5px;
}








