@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    animation: 1s ease-out 0s 1 slideInFromTop;
    position: fixed;
    background: white;
    width: 100%;
}

header div.wrap {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 70%;
    margin-left: var(--elements-margin);
}

.menu {
    height: 100%;
    margin-right: var(--elements-margin);
    display: flex;
    align-items: center;
}

.notification-bell {
    height: 50%;
    margin-right: 20px;
}

.notification-bell:hover {
    filter: brightness(70%);
}

.account-image {
    height: 70%;
}

.account-image:hover {
    filter: brightness(70%);
}
