div.notifications {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
}

.notifications > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    width: 220px;
}

.notifications img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
}

.notifications .notification-text > * {
    overflow: no-display;
    margin-right: 10px;
}

.error {
    background: red;
    opacity: 0.8;
}

.success {
    background: green;
    opacity: 0.8;
}
